<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Kilt Hire</title>
     <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">

  </head>
  <body>
      <header>
        <p>Kelvin's Kilts</p>
        </header>
    <div class="left-bar">
    <nav>
      <ul>
        <li><a class="nav-links" href="/">Home</a></li>
<br>
<br>
<br>
        <li><a class="nav-links" href="/stock">Products</a></li>
<br>
<br>
<br>
        <li><a class="nav-links" href="/customers">Customers</a></li>
<br>
<br>
<br>
        <li><a class="nav-links" href="/rentals">Rentals</a></li>
      </ul>
    </nav>
    </div>






    <div class="insert">
   <%= yield %>
    </div>

  </body>
</html>
