<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kilt Hire</title>
  </head>
  <body>
   <%= yield %>
  </body>
</html>

<!--

<!DOCTYPE html>
<html>
<head>
  <title>Zombieland</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">

  <link rel="icon" href="/images/hazard.png" />

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
<main class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a href="/zombies">Zombies</a>
      </li>
      <li>
        <a href="/victims">Victims</a>
      </li>
      <li>
        <a href="/bitings">Bitings</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html> -->
