p{
  font-family: Aclonica;
}
.product_image{
  width: 100px;
}
tr, th, td {
    font-family: 'Aclonica', sans-serif;
}
.left-bar {
  position: fixed;
  height: 100%;
  background-color: blue;
  width: 20%;
  left: 0px;
}

.insert{
  margin-left: 20%;
}
