<h1>Rental</h1>

<form action="/rentals" method="post">
  <label>
  Select a customer:
    <select name="customer_id">
      <% for customer in @customers %>
      <option value="<%= customer.id %>"><%= customer.name %></option>
     <% end %>
    </select>
  </label>

  <label>
    Select stock item:
    <select name="stock_id">
      <% for stock in @stocks %>
      <% %>
      <% if stock.rented == "f" %>
      <option value="<%= stock.id %>"><%= stock.stock_item %></option>
      <% end %>
      <% end %>
    </select>
  </label>


  <input type='submit' value="Confirm">
</form>

<!-- :stock_item, :size, :product_image -->

<!--
<form action="/customers" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">

  <label for="wallet">Wallet:</label>
  <input type="integer" id="wallet" name="wallet">


<input type="submit" value="Create Customer" ="">

</form> -->
