<br>
<br>
<br>
<br>
<h1>New Rental</h1>

<form action="/rentals" method="post">
  <label>
  Select a customer:
    <select name="customer_id">
      <% for customer in @customers %>
      <option value="<%= customer.id %>"><%= customer.name %></option>
     <% end %>
    </select>
  </label>
  <br>
  <br>
  <label>
    Select stock item:
    <select name="stock_id">
      <% for stock in @stocks %>
      <% %>
      <% if stock.rented == "f" %>
      <option value="<%= stock.id %>" required><%= stock.stock_item %></option>
      <% end %>
      <% end %>
    </select>
  </label>
<br>
<br>

  <input type='submit' value="Confirm">
</form>
