<h1>Customers</h1>
<a class=":new-button" href="/customers/new"><p>New Customer</p></a>
<table>
  <tr>
    <th>Name</th>
    <th>Store Cred</th>
        <th></th>
            <th></th>
  </tr>
  <% for customer in @customers %>
  <tr>
   <td><%= customer.name %></td>
   <td><%= customer.wallet %></td>
   <td><form action="/customers/<%= customer.id %>/delete" method="POST">
 <input class="new-button" type="submit" value="DELETE" />
</form></td>
   <td><form action="/customers/<%= customer.id %>/edit" method="GET">
<input class="new-button" type="submit" value="UPDATE" /></form></td>
  </tr>
  <% end %>
</table>
