<h1>Customers</h1>
<a class=":new-button" href="/customers/new"><p>New Customer</p></a>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Wallet</th>
  </tr>
  <% for customer in @customers %>
  <tr>
   <td> <a href="/customers/<%= customer.id %>" > <%= customer.name %> </a></td>
  </tr>
  <% end %>
</table>
