<form action="/customers" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">

  <label for="wallet">Wallet:</label>
  <input type="integer" id="wallet" name="wallet">


<input type="submit" value="Create Customer" ="">

</form>
